Package: qtbase-abi-5-15-10
Version: 5.15.10-100cosmo1
Maintainer: Cosmic Fusion
Architecture: amd64
Depends: qtbase-abi-5-15-12
Description: make wrongly compiled shit shut the fuck up until we rebuild it against correct qt version
